<div class="filter-menu">
  <div class="filters">
    <div class="btn-group link">
      <label data-text="All" class="glitch-effect">
        <input type="radio" name="fl_radio" value=".box-item" />
        All
      </label>
    </div>
    <div class="btn-group link">
      <label data-text="Programming">
        <input type="radio" name="fl_radio" value=".f-programming" />
        Programming
      </label>
    </div>
    <div class="btn-group link">
      <label data-text="Networking">
        <input type="radio" name="fl_radio" value=".f-networking" />
        Networking
      </label>
    </div>
    <div class="btn-group link">
      <label data-text="CMS">
        <input type="radio" name="fl_radio" value=".f-cms" />
        CMS
      </label>
    </div>
    <div class="btn-group link">
      <label data-text="Mobile">
        <input type="radio" name="fl_radio" value=".f-mobile" />
        Mobile
      </label>
    </div>
  </div>
</div>