<div class="filter-menu">
  <div class="filters">
    <div class="btn-group link">
      <label data-text="All" class="glitch-effect">
        <input type="radio" name="fl_radio" value=".box-item" />
        All
      </label>
    </div>
    {% if page.name == 'portfolio.md' %}
    <div class="btn-group link">
      <label data-text="Programming">
        <input type="radio" name="fl_radio" value=".f-programming" />
        Programming
      </label>
    </div>
    <div class="btn-group link">
      <label data-text="Networking">
        <input type="radio" name="fl_radio" value=".f-networking" />
        Networking
      </label>
    </div>
    <div class="btn-group link">
      <label data-text="Myself">
        <input type="radio" name="fl_radio" value=".f-myself" />
        Myself
      </label>
    </div>
    {% else %}
    <div class="btn-group link">
      <label data-text="Awards">
        <input type="radio" name="fl_radio" value=".f-awards" />
        Awards
      </label>
    </div>
    <div class="btn-group link">
      <label data-text="Certification">
        <input type="radio" name="fl_radio" value=".f-certification" />
        Certification
      </label>
    </div>
    {% endif %}
  </div>
</div>
