<div class="filter-menu">
    <div class="filters">
        <div class="btn-group link">
            <label data-text="All" class="glitch-effect">
                <input type="radio" name="fl_radio" value=".box-item" />All
            </label>
        </div>
        <div class="btn-group link">
            <label data-text="Awards">
                <input type="radio" name="fl_radio" value=".f-awards" />Awards
            </label>
        </div>
        <div class="btn-group link">
            <label data-text="Certification">
                <input type="radio" name="fl_radio" value=".f-certification" />Certification
            </label>
        </div>
    </div>
</div>