            <!-- Focused -->
            <div class="section service">
                <div class="content">
                    <div class="title">
                        <div class="title_inner">Focused</div>
                    </div>
                    <div class="service-items">
                        <div class="service-item">
                            <div class="icon"><span class="ion ion-social-html5"></span></div>
                            <div class="name">Front-end</div>
                            <p>Morbi nulla arcu, pellentesque sed egestas in.</p>
                        </div>
                        <div class="service-item">
                            <div class="icon"><span class="ion ion-ipad"></span></div>
                            <div class="name">Mobile Application</div>
                            <p>Morbi nulla arcu, pellentesque sed egestas in.</p>
                        </div>
                        <div class="service-item">
                            <div class="icon"><span class="ion ion-ios-search-strong"></span></div>
                            <div class="name">Investigation</div>
                            <p>Morbi nulla arcu, pellentesque sed egestas in.</p>
                        </div>
                        <div class="service-item">
                            <div class="icon"><span class="ion ion-code"></span></div>
                            <div class="name">Programming</div>
                            <p>Morbi nulla arcu, pellentesque sed egestas in.</p>
                        </div>
                        <div class="service-item">
                            <div class="icon"><span class="ion ion-help-buoy"></span></div>
                            <div class="name">Awesome Supports</div>
                            <p>Morbi nulla arcu, pellentesque sed egestas in.</p>
                        </div>
                        <div class="service-item">
                            <div class="icon"><span class="ion ion-social-chrome"></span></div>
                            <div class="name">Web Development</div>
                            <p>Morbi nulla arcu, pellentesque sed egestas in.</p>
                        </div>
                    </div>
                </div>
            </div>