<!-- Hard Skills -->
<div class="section skills">
  <div class="content">
    <div class="title">
      <div class="title_inner">Hard Skills</div>
    </div>
    <div class="skills">
      <ul>
        <li>
          <div class="name">Programming</div>
          <div class="progress">
            <div class="percentage" style="width: 70%;">
              <span class="percent">70%</span>
            </div>
          </div>
        </li>
        <li>
          <div class="name">Networking</div>
          <div class="progress">
            <div class="percentage" style="width: 90%;">
              <span class="percent">90%</span>
            </div>
          </div>
        </li>
        <li>
          <div class="name">Design</div>
          <div class="progress">
            <div class="percentage" style="width: 75%;">
              <span class="percent">75%</span>
            </div>
          </div>
        </li>
        <li>
          <div class="name">Content Creator</div>
          <div class="progress">
            <div class="percentage" style="width: 80%;">
              <span class="percent">80%</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
