<!-- Hard Skills -->
<div class="section skills">
  <div class="content">
    <div class="title">
      <div class="title_inner">Hard Skills</div>
    </div>
    <div class="skills">
      <ul>
        <li>
          <div class="name">Programming</div>
          <div class="progress">
            <div class="percentage" style="width: 80%;"></div>
          </div>
        </li>
        <li>
          <div class="name">Networking</div>
          <div class="progress">
            <div class="percentage" style="width: 80%;"></div>
          </div>
        </li>
        <li>
          <div class="name">Design</div>
          <div class="progress">
            <div class="percentage" style="width: 77%;"></div>
          </div>
        </li>
        <li>
          <div class="name">Content Creator</div>
          <div class="progress">
            <div class="percentage" style="width: 90%;"></div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
