<head>
  <!-- Basic -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>
    {{ page.title }}
  </title>
  <meta name="keywords" content="{{ site.keywords }}" />
  <meta content="Indonesia" name="geo.placename" />
  <meta content="id" name="geo.country" />
  <meta name="keywords" content="{{ site.keywords }}" />
  <meta property="og:image" content="{{ site.image | absolute_url }}" />
  {% seo title=false %}

  <!--Color-->
  <meta content="#26272c" name="theme-color" />
  <meta content="#26272c" name="msapplication-navbutton-color" />
  <meta content="#26272c" name="apple-mobile-web-app-status-bar-style" />

  <!--Favicon-->
  <link href="{{ "/assets/icon/favicon.ico" | absolute_url }}" rel=" shortcut
  icon" type='image/x-icon' /> <link rel="apple-touch-icon" sizes="180x180"
  href="{{ "/assets/icon/apple-icon-180x180.png" | absolute_url }}"> <link
  rel="icon" type="image/png" sizes="192x192" href="{{
  "/assets/icon/android-icon-192x192.png" | absolute_url }}"> <link rel="icon"
  type="image/png" sizes="32x32" href="{{ "/assets/icon/favicon-32x32.png" |
  absolute_url }}"> <link rel="icon" type="image/png" sizes="96x96" href="{{
  "/assets/icon/favicon-96x96.png" | absolute_url }}"> <link rel="icon"
  type="image/png" sizes="16x16" href="{{ "/assets/icon/favicon-16x16.png" |
  absolute_url }}"> <meta name="msapplication-TileImage" content="{{
  "/assets/icon/android-icon-144x144.png" | absolute_url }}">

  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="manifest" href="/assets/manifest.json" />

  <!-- Load Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,100,300italic,300,100italic,400italic,500,500italic,700,700italic&amp;subset=latin,cyrillic"
    rel="stylesheet"
  />

  <!-- CSS -->
  <link rel="stylesheet" href="/assets/css/glitche-basic.css" />
  <link rel="stylesheet" href="/assets/css/glitche-layout.css" />
  <link rel="stylesheet" href="/assets/css/ionicons.css" />
  <link rel="stylesheet" href="/assets/css/magnific-popup.css" />
  <link rel="stylesheet" href="/assets/css/animate.min.css" />
  <link rel="stylesheet" href="/assets/css/orange.css" />
  <link rel="stylesheet" href="/assets/css/dark.css" />
</head>
