<!-- Header -->
<header>
  <div class="head-top">
    <div class="menu-btn"><span></span></div>
    <div class="top-menu">
      <ul itemscope itemtype="https://www.schema.org/SiteNavigationElement">
        <li itemprop="name">
          <a itemprop="url" href="/resume" class="lnk link">
            Resume
          </a>
        </li>
        <li itemprop="name">
          <a itemprop="url" href="/portfolio" class="lnk link">
            Portfolio
          </a>
        </li>
        <li itemprop="name">
          <a itemprop="url" href="/awards" class="lnk link">
            Awards & Certification
          </a>
        </li>
        <li itemprop="name">
          <a itemprop="url" href="/contact" class="btn link">Contacts</a>
        </li>
      </ul>
    </div>
  </div>
</header>