{% for port in site.data.portfolio %}
<div class="box-item {{ port.class }} link">
  <div class="image">
    <a href="#popup-{{ forloop.index }}" class="has-popup-media">
      <img class="lazy" src="{{ port.image | absolute_url }}" />
      <span class="info">
        <span class="centrize full-width">
          <span class="vertical-center">
            <span class="ion ion-ios-plus-empty"></span>
          </span>
        </span>
      </span>
    </a>
  </div>
  <div class="desc">
    <div class="category">{{ port.category }}</div>
    <a href="#popup-{{ forloop.index }}" class="name has-popup-media">
      {{ port.title }}
    </a>
  </div>
  <div id="popup-{{ forloop.index }}" class="popup-box mfp-fade mfp-hide">
    <div class="content">
      <div class="image">
        <img class="lazy" src="{{ port.image | absolute_url }}" />
      </div>
      <div class="desc">
        <div class="category">{{ port.category }}</div>
        <h4>{{ port.titlecontent }}</h4>
        <p>
          {{ port.content }}
        </p>
        {% if port.category == 'Programming' %}
        <div class="category">Login Using</div>
        <div class="info-list">
          <ul>
            <li style="width: 45%;">
              <strong>Username:</strong>
              {{ port.username }}
            </li>
            <li style="width: 45%;">
              <strong>Password:</strong>
              {{ port.password }}
            </li>
          </ul>
        </div>
        {% endif %}
        <a href="{{ port.link }}" target="_blank" class="btn" rel="noreferrer noopener" data-text="{{ port.action }}">
          {{ port.action }}
        </a>
      </div>
    </div>
  </div>
</div>
{% endfor %}