            <!-- Soft Skills -->
            <div class="section skills">
                <div class="content">
                    <div class="title">
                        <div class="title_inner">Soft Skills</div>
                    </div>
                    <div class="skills dotted">
                        <ul>
                            <li>
                                <div class="name">English</div>
                                <div class="progress">
                                    <div class="percentage" style="width: 90%;">
                                        <span class="percent">90%</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="name">German</div>
                                <div class="progress ">
                                    <div class="percentage" style="width: 70%;">
                                        <span class="percent">70%</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="name">Italian</div>
                                <div class="progress ">
                                    <div class="percentage" style="width: 55%;">
                                        <span class="percent">55%</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="name">French</div>
                                <div class="progress ">
                                    <div class="percentage" style="width: 85%;">
                                        <span class="percent">85%</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>