<!-- Soft Skills -->
<div class="section skills">
  <div class="content">
    <div class="title">
      <div class="title_inner">Soft Skills</div>
    </div>
    <div class="skills dotted">
      <ul>
        <li>
          <div class="name">Can work in team</div>
          <div class="progress">
            <div class="percentage" style="width: 90%;"></div>
          </div>
        </li>
        <li>
          <div class="name">Good communication skills</div>
          <div class="progress">
            <div class="percentage" style="width: 85%;"></div>
          </div>
        </li>
        <li>
          <div class="name">Open and logical thinking</div>
          <div class="progress">
            <div class="percentage" style="width: 90%;"></div>
          </div>
        </li>
        <li>
          <div class="name">Have a leadership spirit</div>
          <div class="progress">
            <div class="percentage" style="width: 90%;"></div>
          </div>
        </li>
        <li>
          <div class="name">Reliable and committed</div>
          <div class="progress">
            <div class="percentage" style="width: 85%;"></div>
          </div>
        </li>
        <li>
          <div class="name">Have enthusiasm and willingness to learn</div>
          <div class="progress">
            <div class="percentage" style="width: 95%;"></div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
