@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://use.fontawesome.com/releases/v5.7.1/css/all.css');

body {
    background: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Comfortaa',
        cursive;
    color: #e0e0e0;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
}

html {
    height: 100%;
}

.menu {
    height: 35px;
    width: 35px;
    position: fixed;
    left: 50px;
    top: 30px;
    cursor: pointer;
}

.menu-icon-line {
    width: 35px;
    height: 2px;
    display: block;
    background-color: white;
    margin-bottom: 5px;
}

.menu-icon-line:nth-child(1) {
    width: 17px;
    animation-duration: 2s;
    animation-name: resize;
    transition: 2s all;
    -webkit-transition: 2s all;
    -moz-transition: 2s all;
    -ms-transition: 2s all;
    -o-transition: 2s all;
}

.menu-icon-line:nth-child(3) {
    float: right;
    width: 17px;
    animation-duration: 2s;
    animation-name: resize;
    transition: 2s all;
    -webkit-transition: 2s all;
    -moz-transition: 2s all;
    -ms-transition: 2s all;
    -o-transition: 2s all;
}

.menu:hover span:nth-child(1),
.menu:hover span:nth-child(3) {
    width: 35px;
}

.overlay {
    height: 100%;
    position: fixed;
    z-index: 1;
    width: 0;
    top: 0;
    left: 0;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    overflow: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    margin-top: 150px;
    display: flex;
    justify-content: space-around;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: white;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    background: #546e7a;
}

.close {
    color: white;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #424242;
}

.overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.social {
    display: inline-block;
    top: 65%;
    margin: 0%;
    animation-duration: 2s;
}

.social a {
    color: #fff;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    font-family: fontawesome;
    position: relative;
    display: inline-block;
    width: 40px;
    height: 28px;
    padding-top: 12px;
    margin: 0 2px;
    -o-transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    -webkit-font-smoothing: antialiased;
}

.social a:hover {
    background: white;
    color: black;
}

.avatar {
    background-image: url(https://cdn.staticaly.com/img/ravidwiputra.com/img/me.jpg);
    background-size: cover;
    border-radius: 100%;
    margin: 9rem auto 2rem auto;
    width: 10rem;
    height: 10rem;
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.2);
    transition: all 0.5s ease-in-out;
    animation-duration: 2s;
}

.avatar:hover {
    box-shadow: 0 0 0 12px rgba(255, 255, 255, 0.6);
}

.name {
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}

.donation {
    color: #E53935;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.container {
    margin: 20px 0 20px 0;
}

@media only screen and (max-width: 600px) {
    .overlay-content {
        display: block;
        margin-top: 100px;
    }

    .overlay-content a {
        margin-bottom: 12px;
    }

    h1 {
        font-size: 1.5em;
    }

    .avatar {
        margin: 7rem auto 2rem auto;
    }
}

@keyframes resize {
    0% {
        width: 35px;
    }

    100% {
        width: 17px;
    }
}

@-webkit-keyframes slideInDown {
    from {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInDown {
    from {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.slideInDown {
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
}

@-webkit-keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.slideInUp {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

@-webkit-keyframes heartBeat {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    14% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }

    28% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    42% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }

    70% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes heartBeat {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    14% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }

    28% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    42% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }

    70% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.heartBeat {
    -webkit-animation-name: heartBeat;
    animation-name: heartBeat;
    -webkit-animation-duration: 1.3s;
    animation-duration: 1.3s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}