<!DOCTYPE html>
<html lang="en">

{% include header.html %}

<body>

    {% include loading.html %}

    <!-- Container -->
    <div class="container">

        {% include navigation.html %}

        <!-- Wrapper -->
        <div class="wrapper">

            <!-- Started -->
            <div class="section started">
                <div class="centrize full-width">
                    <div class="vertical-center">
                        <div class="started-content">
                            <div class="h-title glitch-effect" data-text="{{ page.titlecontent }}">
                                {{ page.titlecontent }}
                            </div>
                            <div class="h-subtitle typing-bread">
                                <p><a href="/">Home</a> / <a href="{{ page.permalink }}">{{ page.titlecontent }}</a></p>
                            </div>
                            <span class="typed-bread link"></span>
                        </div>
                    </div>
                </div>
                <a href="javascript:void(0)" class="mouse_btn link"><span class="ion ion-mouse"></span></a>
            </div>

            <!-- Section -->
            <div class="section contacts">
                <div class="content">
                    <div class="contact_form">
                        <form name="contact" method="POST" action="/contact" data-netlify="true">
                            <div class="group-val">
                                <input type="text" name="name" placeholder="Name">
                            </div>
                            <div class="group-val">
                                <input type="email" name="email" placeholder="Email">
                            </div>
                            <div class="group-val ct-gr">
                                <textarea name="message" placeholder="Message"></textarea>
                            </div>
                            <!-- <a href="#" class="btn fill" onclick="$('#cform').submit(); return false;"
                                data-text="Send Message">Send Message</a> -->
                            <button class="btn fill" type="submit">Send Message</button>
                        </form>
                        <div class="alert-success d-none">
                            <p>
                                Thanks, your message is sent successfully. We will contact you shortly!
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        {% include footer.html %}
</body>

</html>