<!DOCTYPE html>
<html lang="en">

{% include header.html %}

<body>

    {% include loading.html %}

    <!-- Container -->
    <div class="container">

        {% include navigation.html %}

        <!-- Wrapper -->
        <div class="wrapper">

            <!-- Started -->
            <div class="section started">
                <div class="centrize full-width">
                    <div class="vertical-center">
                        <div class="started-content">
                            <div class="h-title glitch-effect" data-text="{{ page.titlecontent }}">
                                {% if page.name == 'awards.md' %}
                                {{ page.first }} <span>{{ page.last }}</span>
                                {% else %}
                                {{ page.titlecontent }}
                                {% endif %}
                            </div>
                            <div class="h-subtitle typing-bread">
                                <p><a href="/">Home</a> / <a href="{{ page.permalink }}">{{ page.titlecontent }}</a></p>
                            </div>
                            <span class="typed-bread link"></span>
                        </div>
                    </div>
                </div>
                <a href="javascript:void(0)" class="mouse_btn link"><span class="ion ion-mouse"></span></a>
            </div>

            <!-- Section -->
            <div class="section works">
                <div class="content">

                    {% include filter.html %}

                    <div class="box-items portfolio-items">

                        {% if page.name == 'portfolio.md' %}
                        {% include portfolio.html %}
                        {% else %}
                        {% include awards.html %}
                        {% endif %}

                        <div class="clear"></div>
                    </div>
                </div>

            </div>

        </div>
        {% include footer.html %}
</body>

</html>