<!DOCTYPE html>
<html lang="en">

{% include header.html %}

<body>

    {% include loading.html %}

    <!-- Container -->
    <div class="container">

        {% include navigation.html %}

        <!-- Wrapper -->
        <div class="wrapper">

            <!-- Started -->
            <div class="section started">
                <div class="centrize full-width">
                    <div class="vertical-center">
                        <div class="started-content">
                            <div class="h-title glitch-effect" data-text="{{ page.titlecontent }}">
                                {{ page.titlecontent }}
                            </div>
                            <div class="h-subtitle typing-bread">
                                <p><a href="/">Home</a> / <a href="/resume">{{ page.titlecontent }}</a></p>
                            </div>
                            <span class="typed-bread link"></span>
                        </div>
                    </div>
                </div>
                <a href="javascript:void(0)" class="mouse_btn link"><span class="ion ion-mouse"></span></a>
            </div>

            {% include about.html %}

            {% include resume.html %}

            <!-- Skills -->
            <div class="section skills">
                <div class="content">
                    <div class="title">
                        <div class="title_inner">Design Skills</div>
                    </div>
                    <div class="skills">
                        <ul>
                            <li>
                                <div class="name">Web Design</div>
                                <div class="progress">
                                    <div class="percentage" style="width:70%;">
                                        <span class="percent">70%</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="name">Illustrations</div>
                                <div class="progress">
                                    <div class="percentage" style="width:90%;">
                                        <span class="percent">90%</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="name">Photoshop</div>
                                <div class="progress">
                                    <div class="percentage" style="width:75%;">
                                        <span class="percent">75%</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="name">Graphic Design</div>
                                <div class="progress">
                                    <div class="percentage" style="width:80%;">
                                        <span class="percent">80%</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Skills -->
            <div class="section skills">
                <div class="content">
                    <div class="title">
                        <div class="title_inner">Languages Skills</div>
                    </div>
                    <div class="skills dotted">
                        <ul>
                            <li>
                                <div class="name">English</div>
                                <div class="progress">
                                    <div class="percentage" style="width: 90%;">
                                        <span class="percent">90%</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="name">German</div>
                                <div class="progress ">
                                    <div class="percentage" style="width: 70%;">
                                        <span class="percent">70%</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="name">Italian</div>
                                <div class="progress ">
                                    <div class="percentage" style="width: 55%;">
                                        <span class="percent">55%</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="name">French</div>
                                <div class="progress ">
                                    <div class="percentage" style="width: 85%;">
                                        <span class="percent">85%</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Skills -->
            <div class="section skills">
                <div class="content">
                    <div class="title">
                        <div class="title_inner">Coding Skills</div>
                    </div>
                    <div class="skills circles">
                        <ul>
                            <li>
                                <div class="name">WordPress</div>
                                <div class="progress p90">
                                    <div class="percentage" style="width: 90%;">
                                        <span class="percent">90%</span>
                                    </div>
                                    <span>90%</span>
                                </div>
                            </li>
                            <li>
                                <div class="name">PHP / MYSQL</div>
                                <div class="progress p75">
                                    <div class="percentage" style="width: 75%;">
                                        <span class="percent">75%</span>
                                    </div>
                                    <span>75%</span>
                                </div>
                            </li>
                            <li>
                                <div class="name">Angular / JavaScript</div>
                                <div class="progress p85">
                                    <div class="percentage" style="width: 85%;">
                                        <span class="percent">85%</span>
                                    </div>
                                    <span>85%</span>
                                </div>
                            </li>
                            <li>
                                <div class="name">HTML / CSS</div>
                                <div class="progress p95">
                                    <div class="percentage" style="width: 95%;">
                                        <span class="percent">95%</span>
                                    </div>
                                    <span>95%</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            {% include knowledge.html %}

            <!-- Service -->
            <div class="section service">
                <div class="content">
                    <div class="title">
                        <div class="title_inner">My Services</div>
                    </div>
                    <div class="service-items">
                        <div class="service-item">
                            <div class="icon"><span class="ion ion-social-html5"></span></div>
                            <div class="name">Front-end</div>
                            <p>Morbi nulla arcu, pellentesque sed egestas in.</p>
                        </div>
                        <div class="service-item">
                            <div class="icon"><span class="ion ion-ipad"></span></div>
                            <div class="name">Mobile Application</div>
                            <p>Morbi nulla arcu, pellentesque sed egestas in.</p>
                        </div>
                        <div class="service-item">
                            <div class="icon"><span class="ion ion-ios-search-strong"></span></div>
                            <div class="name">Investigation</div>
                            <p>Morbi nulla arcu, pellentesque sed egestas in.</p>
                        </div>
                        <div class="service-item">
                            <div class="icon"><span class="ion ion-code"></span></div>
                            <div class="name">Programming</div>
                            <p>Morbi nulla arcu, pellentesque sed egestas in.</p>
                        </div>
                        <div class="service-item">
                            <div class="icon"><span class="ion ion-help-buoy"></span></div>
                            <div class="name">Awesome Supports</div>
                            <p>Morbi nulla arcu, pellentesque sed egestas in.</p>
                        </div>
                        <div class="service-item">
                            <div class="icon"><span class="ion ion-social-chrome"></span></div>
                            <div class="name">Web Development</div>
                            <p>Morbi nulla arcu, pellentesque sed egestas in.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        {% include footer.html %}
</body>

</html>